@charset "UTF-8";

/* 1.jsp */

.logo{
    text-align: right;
    margin-top: 25px;
    width: 1075px;
}
.logo2{
    text-align: right;
    width: 1000px;
    color: orangered;
}
.logo3{
    text-align: right;
    width: 1055px;
    margin-top: 10px;
}
 
 .back:hover{
    color: #27acd9;
    background: #fff;
 }
.back{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 155px;
    margin: auto;
    margin-bottom: 25px;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;
    border-radius: 6px 6px 6px 6px;
}
.cart{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 220px;
    margin: auto;
    margin-top: 25px;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;
    border-radius: 6px 6px 6px 6px;
}
.cart:hover{
    color: #27acd9;
    background: #fff;
 }
 
.img{
    margin-left: 20px;
}

/* 2.jsp */

.logo4{
	margin-top: 25px;
    text-align: right;
    width: 1020px;
}

/* 4.jsp */

.logo5{
	margin-top: 25px;
    text-align: right;
    width: 1000px;
}

/* 5.jsp */

.logo6{
	margin-top: 25px;
    text-align: right;
    width: 1060px;
}

/* 6.jsp */

.logo7{
	margin-top: 25px;
    text-align: right;
    width: 1060px;
}

/* 7.jsp */

.logo8{
	margin-top: 25px;
    text-align: right;
    width: 1060px;
}

/* 8.jsp */

.logo9{
	margin-top: 25px;
    text-align: right;
    width: 1160px;
}

/* 9.jsp */

.logo10{
	margin-top: 25px;
    text-align: right;
    width: 1045px;
}

/* 10.jsp */

.logo11{
	margin-top: 25px;
    text-align: right;
    width: 1055px;
}

/* 11.jsp */

.logo12{
	margin-top: 25px;
    text-align: right;
    width: 1095px;
}