@charset "UTF-8";

/* 1.jsp */

.logo{
    text-align: left;
    margin-top: 25px;
    padding-left: 25px;
}

.logo2{
    text-align: right;
    margin-top: 33px;
    margin-right: 20px;
    width: 870px;
    color: orangered;
}

.pictureanddetail{
    display: flex;
}

.priceandcart{
    display: flex;
}

.logo3{
    text-align: right;
    width: 440px;
    margin-top: 10px;
}
 
 .back:hover{
    color: #27acd9;
    background: #fff;
 }
 
.back{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 155px;
    margin: auto;
    margin-bottom: 25px;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;
    border-radius: 6px 6px 6px 6px;
}

.cart{
    display: block;
    text-align: right;
    text-decoration: none;
    width: 220px;
    margin: auto;
    margin-top: 25px;
    margin-left: 120px;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    background: #27acd9;
    color: #fff;
    transition: 0.5s;
    border-radius: 6px 6px 6px 6px;
}

.cart:hover{
    color: #27acd9;
    background: #fff;
 }
 
.img{
    margin-top: 10px;
    margin-left: 20px;
}
